<% layout('layouts/boilerplate') %>
<link rel="stylesheet" href="/stylesheets/Images.css" class="rel">

<!-- <a href="/campgrounds/<%=campground._id%>">Back to Campground</a> -->


<div style="position: absolute;left: 20px; top: 80px;">
  <form action="/campgrounds/<%=campground._id%>"><button class="buttonSVG">
  
    <svg crossorigin="anonymous" class="svgIcon"  version="1.1" viewBox="0 0 384 512" 
   fill="#ffffff" height="158px" width="158px" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="-47.62 -47.62 571.45 571.45" xml:space="preserve" stroke="#ffffff" stroke-width="17.619881" transform="rotate(0)"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round" stroke="#CCCCCC" stroke-width="0.952426"></g><g id="SVGRepo_iconCarrier"> <polygon points="476.213,223.107 57.427,223.107 151.82,128.713 130.607,107.5 0,238.106 130.607,368.714 151.82,347.5 57.427,253.107 476.213,253.107 "></polygon> </g></svg>
  </button>
  </form>
</div>
    <div class="row">
        <h1 class="text-center">Edit Details</h1>
            <div class="col-6 offset-3">
                <form action="/campgrounds/<%=campground.id%>/edit" method="post" novalidate class="validated-form" enctype="multipart/form-data">
                    <div>
                        <label class="form-label"  for="tittle">Enter New Campground Name:</label>
                        <input type="text" name="tittle" id="tittle" class="form-control"  value="<%=campground.tittle%>" required>    
                        <div class="valid-feedback">
                        Looks good!
                      </div>
                      <div class="invalid-feedback">
                        Please provide a valid Name.
                      </div> <br><br>

                    </div>
                    <div>
                        <label for="location" class="form-label" >Enter your Campground Location:</label>
                        <input type="text" name="location" id="location" class="form-control" value="<%=campground.location%>" required> 
                          <div class="valid-feedback">
                        Looks good!
                      </div>
                      <div class="invalid-feedback">
                        Please provide a valid Location.
                      </div> <br><br>

                    </div>
                    <div>
                        <!-- <label class="form-label" for="image" >Add Images</label>
                        <input type="file" name="image" id="image" multiple> -->
                         

                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text">$</span>
                        <input type="text" class="form-control" name="price" aria-label="Amount (to the nearest dollar)" value="<%=campground.price%>" required>   
                        <span class="input-group-text">.00</span>  
                         <div class="valid-feedback">
                        Looks good!
                      </div>
                      <div class="invalid-feedback">
                        Please provide a valid Price.
                      </div> 

                       
                      </div><br><br>
                      
                    <div>
                        <label class="form-label"for="description" >Description:</label>
                        <textarea name="description" id="description" class="form-control" required><%=campground.description%></textarea> 
                        <div class="invalid-feedback">
                          Please provide a valid description.
                        </div> 
                         <div class="valid-feedback">
                        Looks good!
                      </div>
                      <br><br>
                    </div>
                    <div>
                      <div class="mb-3">
                        <label for="images" class="form-label">Choose Image(s)</label>
                        <input class="form-control" name="image" type="file" id="image"crossorigin="anonymous" onchange="previewMultiple(event)" multiple>
                        <div class="valid-feedback">
                          Looks good!
                        </div>
                        <div class="invalid-feedback">
                          Please provide a valid Image URL.
                        </div> <br><br>
                      </div>
                      <div id="formFile" class="mb-3">   </div>
                    </div>
                    <div class="mb-3">
                      <% campground.images.forEach(function(img, i) {  %>
      
             
                  <img  crossorigin="anonymous" src="<%=img.thumbnail %>" class="img-thumbnail" alt="">
                 <%=img.filename%>
            
                      <div class="form-check-inline">
                          <input type="checkbox" id="image-<%=i%>" name="deleteImages[]" value="<%=img.filename%>">
                      </div>
                      <label for="image-<%=i%>">Delete?</label>
                      <% })%>
                  </div>
         
                      <input type="submit" class="btn btn-info" value="Update Campground">
                   

                     
                    </div>

      

        
                      </form>
                      </div>          
                      
   
         

    </div>
    <div class="d-flex justify-content-center align-items-center mb-3 mt-4" style="width: 100%;">
  
    </div>
    </div>
    <form>
      