<% layout('layouts/boilerplate') %>

    <div class="row">
        <h1 class="text-center">Edit Details</h1>
            <div class="col-6 offset-3">
                <form action="/campgrounds/<%=campground.id%>/edit" method="post" novalidate class="validated-form" enctype="multipart/form-data">
                    <div>
                        <label class="form-label"  for="tittle">Enter New Campground Name:</label>
                        <input type="text" name="tittle" id="tittle" class="form-control"  value="<%=campground.tittle%>" required>    
                        <div class="valid-feedback">
                        Looks good!
                      </div>
                      <div class="invalid-feedback">
                        Please provide a valid Name.
                      </div> <br><br>

                    </div>
                    <div>
                        <label for="location" class="form-label" >Enter your Campground Location:</label>
                        <input type="text" name="location" id="location" class="form-control" value="<%=campground.location%>" required> 
                          <div class="valid-feedback">
                        Looks good!
                      </div>
                      <div class="invalid-feedback">
                        Please provide a valid Location.
                      </div> <br><br>

                    </div>
                    <div>
                        <label class="form-label" for="image" >Add Images</label>
                        <input type="file" name="image" id="image" multiple>
                         <div class="valid-feedback">
                        Looks good!
                      </div>
                      <div class="invalid-feedback">
                        Please provide a valid Image URL.
                      </div> <br><br>

                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text">$</span>
                        <input type="text" class="form-control" name="price" aria-label="Amount (to the nearest dollar)" value="<%=campground.price%>" required>   
                        <span class="input-group-text">.00</span>  
                         <div class="valid-feedback">
                        Looks good!
                      </div>
                      <div class="invalid-feedback">
                        Please provide a valid Price.
                      </div> 

                       
                      </div><br><br>
                      
                    <div>
                        <label class="form-label"for="description" >Description:</label>
                        <textarea name="description" id="description" class="form-control" required><%=campground.description%></textarea> 
                        <div class="invalid-feedback">
                          Please provide a valid description.
                        </div> 
                         <div class="valid-feedback">
                        Looks good!
                      </div>
                      <br><br>
                    </div>

                    <div><input type="submit" class="btn btn-info" value="Update Campground"></div>


                    <a href="/campgrounds">Back to Campground</a>
                </form>
    
    </div>
    </div>
    <form>
      