<% layout('layouts/boilerplate') %>




    <div class="row">
        <div class="col-6">
            <div class="card mb-3">
                <img src="<%=campground.image%>" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">
                        <%= campground.tittle%>
                    </h5>
                    <p class="card-text">
                        <%=campground.description%>
                    </p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item text-muted">
                        <%= campground.location%>
                    </li>
                    <li class="list-group-item">Submitted By <%= campground.Author.username%>
                    </li>
                    <li class="list-group-item">Price $ : <%=campground.price%> / Night</li>
                </ul>
                
                <div class="card-body">
                    <%  if( currentUser && campground.Author.equals(currentUser._id))  {%>      
                    <a class="card-link btn btn-info" href="/campgrounds/<%= campground.id%>/edit">Edit</a>
                        <form class="d-inline" action="/campgrounds/<%= campground.id%>/delete" method="post">
                            <button type="submit" class="btn btn-danger">Delete</button>
                        </form>
                        <%}%>
                    </div>
                        <div class="card-footer text-muted">
                            2 days ago
                        </div>
            </div>
        </div>
        <div class="col-6">
            <%if(currentUser) {%>
            <h2>Leave a Review</h2>
            <form action="/campgrounds/<%=campground.id%>/reviews" method="POST" class="mb-3 validated-form"
                novalidate>
                <div class="mb-3">
                    <label for="Rating" class="form-label">Rating:</label>
                    <input class="form-range" type="range" min="1" max="5" name="rating" id="rating">
                </div>
                <div class="mb-3">
                    <label for="body" class="form-label">Review:</label>
                    <textarea class="form-control" name="body" id="body" cols="30" rows="3" required></textarea>
                    <div class="invalid-feedback">
                        Review box cannot be empty!
                    </div>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
            <%}%>
            <%= campground.reviews.length%> Reviews
                <% for(review of campground.reviews) { %>
                    <div class="card mb-3">
                        <div class="card-body">
                            <h5 class="card-title">
                               Rating <%=review.rating%>
                            </h5>
                            <h6 class="card-subtitle mb-3 text-muted">
                


                               By  <% if(review.Author){ %>
                                    <%=review.Author.username%>
                                 
                                 <% } else{ %>
                                    Anonymous
                                  <% } %>
                            </h6>
                            <p class="card-text">
                                Description:
                                <%=review.body%>
                                             </p> <%  if( currentUser && review.Author.equals(currentUser._id))  {%>               
                            <form action="/campgrounds/<%=campground.id%>/reviews/<%=review.id%>/delete"
                                method="POST">
                                <button class="btn btn-danger" type="submit">Delete</button>
                            </form>
                        <%}%> 
                        </div>
                    </div>
                    <%}%>
        </div>
    </div>
    <footer>
        <a href="/campgrounds">Back to home page</a>
    </footer>