<% layout('layouts/boilerplate') %>


   <div class="row">
    <div class="col-6 offset-3">
        <div class="card mb-3">
            <img src="<%=resultcampground.image%>" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title"><%= resultcampground.tittle%></h5>
              <p class="card-text"><%=resultcampground.description%> </p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item text-muted">  <%= resultcampground.location%></li>
                <li class="list-group-item">Price $ : <%=resultcampground.price%> / Night</li>
            </ul>
            <div class="card-body">
                <a  class="card-link btn btn-info" href="/campgrounds/<%= resultcampground.id%>/edit">Edit</a>
                <form class="d-inline"  action="/campgrounds/<%= resultcampground.id%>/delete" method="post">
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
            </div>
            <div class="card-footer text-muted">
                2 days ago
            </div>
          </div>
          <h2>Leave a Review</h2>
          <form action="/campgrounds/<%=resultcampground.id%>/reviews" method="POST" class="mb-3">
            <div class="mb-3">
                <label for="Rating" class="form-label">Rating:</label>
                <input class="form-range" type="range" min="1" max="5" name="rating" id="rating">
            </div>
            <div class="mb-3">
                <label for="body" class="form-label">Review:</label>
                <textarea class="form-control" name="body" id="body" cols="30" rows="3"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
    </div>
   </div>
   <footer>
    <a href="/campgrounds">Back to home page</a>
</footer>